* {
  font-family: "Adwaita Mono Nerd Font", monospace;
  font-size: 10px;
  min-height: 0;
}

window#waybar {
  background-color: @crust;
  color: @text;
}

#workspaces button {
  background-color: @crust;
  color: @text;
}

#workspaces button.focused {
  background-color: @mauve;
  color: @base;
}

#workspaces button.urgent {
  background-color: @red;
  color: @base;
}

#mode {
  background-color: @blue;
  color: @text;
}

#pulseaudio,
#network,
#clock,
#battery,
#workspaces,
#mode {
  padding: 0 5px;
  margin: 0 2px;
}

#pulseaudio.muted {
  background-color: @red;
  color: @base;
}

#network {
  color: @mauve;
}

#network.disconnected {
  background-color: @red;
  color: @base;
}

#battery.good,
#battery.charging,
#battery.plugged {
  color: @green;
}

#battery.warning {
  color: @mauve;
}

#battery.critical {
  color: @red;
}
